[Unit]
Description=Internet Connection Checker Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/bridge/internet-check/internet-check.py
WorkingDirectory=/home/bridge/internet-check
StandardOutput=inherit
StandardError=inherit
RestartSec=5
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
